h1 {
  font-family: $heading-font;
  font-weight: $regular;
  letter-spacing: 0.4rem;
}

h2,
h3 {
  font-family: $heading-font;
  font-weight: $ligth;
  letter-spacing: 0.4rem;
}

p {
  font-family: $text-font;
}

a {
  text-decoration: none;
  color: $links;
  font-weight: $ligth;
}