.admin-panel {
  width: 100vw;
  padding-top: 10vh;
  background-color: $bg-frame;

  .admin-title {
    text-align: center;
    margin-bottom: 5rem;
  }

  .manage-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .btn-command {
      background-color: $button;
      height: 5.5rem;
      text-align: center;
      width: auto;
      padding: 1rem 2rem;
      font-size: 2rem;
      color: $white;
      border-radius: 0.6rem;
      margin: 3rem;
    }
  }
}
