.collection {
  background-color: $bg-frame;
  padding-top: 6vh;

  .collection-hero {
    height: 80vh;
    display: flex;
    justify-content: center;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .collection-description {
    font-size: 2.5rem;
    padding: 1rem;
    width: 80vw;
    margin: 3rem 10vw;
    text-align: center;

    h1 {
      text-align: center;
      margin-bottom: 3rem;
    }
  }

  .collection-gallery {
    padding-bottom: 5rem;

    .collection-gallery-img {
      width: 100%;
      margin-bottom: 1rem;

      img {
        width: 100%;
        max-width: 100%;
        max-height: 100vh;
        object-fit: cover;
        object-position: center center;
      }
    }
  }

  .collection-navigation {
    display: flex;
    flex-flow: row nowrap;
    width: 95%;
    margin: 2rem auto;
    justify-content: space-between;
    align-items: center;
    .prev-navigation {
      width: 10rem;
      display: flex;
      text-align: center;

      a {
        width: 100%;
        font-size: 1.5rem;
      }
    }

    .next-navigation {
      width: 10rem;
      display: flex;
      text-align: center;

      a {
        width: 100%;
        font-size: 1.4rem;
      }
    }
  }
}
