.collections {
  background-color: $bg-frame;
  padding-top: 6vh;

  .collections-list {
    padding-bottom: 4rem;

    .collection {
      width: 100%;
      height: 50vh;
      margin-bottom: 1rem;
      position: relative;

      a {
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }

        h2 {
          position: absolute;
          top: 45%;
          color: $white;
          text-align: left;
          z-index: +2;
          margin: 0;
          padding: 0 2rem;
          text-align: center;
          font-size: 1.5rem;
          font-weight: $regular;
          opacity: 1;
          transition: opacity 0.75s ease-in-out;
          text-transform: uppercase;
        }

        @media(min-width: 768px) {
          h2 {
            font-size: 2rem;
          }
        }

        .filter-img {
          position: absolute;
          z-index: +1;
          top: 0%;
          left: 0%;
          background-color: rgba(0, 0, 0, 0.5);
          width: 100%;
          height: 100%;
          opacity: 1;
          transition: opacity 0.75s ease-in-out;
        }

        @media (min-width: 1200px) {
          .filter-img {
            opacity: 0;
            transition: opacity 0.75s ease-in-out;
          }

          h2 {
            opacity: 0;
            transition: opacity 0.75s ease-in-out;
          }
        }
      }

      @media (min-width: 1200px) {
        a:hover {
          .filter-img {
            opacity: 1;
            transition: opacity 0.75s ease-in-out;
          }

          h2 {
            opacity: 1;
            transition: opacity 0.75s ease-in-out;
          }
        }
      }
    }
  }
}