.contact {
  background-color: $bg-frame;
 margin-top: 6vh;

  .contact-hero {
    height: 50vh;
    position: relative;
    width: 100%;
    background-image: url(assets/contact.webp);
    background-size: cover;
    background-position: bottom;
  }

  .form-section {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 992px) {
  .contact {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    height: 94vh;

    .contact-hero {
      height: 100%;
      width: 50vw;
    }

    .form-section {
      display: flex;
      align-items: center;
      width: 50vw;
      height: 94vh;
      padding-bottom: 2rem;
    }
  }
}
