.contact {
  width: 100vw;
  background-color: $bg-frame;

  .contact-hero {
    height: 100vh;
    display: flex;
    justify-content: center;

    .contact-hero-title {
      position: absolute;
      top: 80%;
      color: $white;
      text-align: center;
    }

    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      font-size: 3rem;
      color: white;
    }
  }

  @media(min-width: 768px) {

    .contact-hero {
      display: block;

      .contact-hero-title {
        top: 80%;
        right: 10%;

      }
    }
  }
}
