.home {
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  background-color: $bg-frame;

  .home-hero {
    width: 100vw;
    height: 50vh;

    .swiper {
      height: 50vh;
      width: 100vw;
      margin: 0;

      figure {
        width: 100%;
        height: 100%;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          object-position: top;
        }
      }
    }
  }

  @media (min-width: 1200px) {
    .home-hero {
      width: 50vw;
      height: 100vh;

      .swiper {
        height: 100vh;
        width: 50vw;
        margin: 0;
      }
    }
  }
  .home-main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 50vh;

    .home-logo {
      width: 50%;
      margin: 0 auto;
      padding-top: 5rem;
      svg {
        width: 100%;
      }
    }
    .home-titles {
      text-align: center;
      .home-title {
        font-size: 3rem;
        margin-bottom: 1rem;
      }

      .home-subtitle {
        font-size: 1.6rem;
        margin-bottom: 2rem;
      }
    }
  }

  .social-links {
    padding-bottom: 2rem;
    .social-list {
      display: flex;
      flex-flow: row nowrap;
      width: 40vw;
      margin: 0 auto;
      justify-content: space-between;
      padding: 0;

      .social-item {
        width: auto;
        height: 3rem;
        margin: 0 auto;
      }
    }
  }

  @media(min-width: 768px) {
    .home-main {
      padding: 3rem 0;

      .home-titles {
        margin: 10rem 0 5rem 0;
        .home-title {
          margin-bottom: 3rem;
        }

        .home-subtitle {
          margin-bottom: 4rem;
        }
      }

      .social-links {
        .social-list {
          margin: 0 40%;
          width: auto;
        }
      }
    }
  }

  @media (min-width: 1200px) {
    .home-main {
      align-content: space-between;
      height: 100vh;
      width: 50vw;
      padding: 10rem 0;

      .home-logo {
        width: 35%;
        padding-top: 5rem;
      }
      .home-titles {
        margin: 10rem 0;
        .home-title {
          margin-bottom: 3rem;
        }

        .home-subtitle {
          margin-bottom: 3rem;
        }
      }
    }

    .social-links {
      padding-bottom: 6rem;

      .social-list {
        width: auto;
        margin: 0 30%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .home {
    flex-flow: row nowrap;
  }
}

/*.home {
  background-color: $bg-frame;

  .home-hero {
    height: 105vh;
    overflow: hidden;

    .home-hero-title {
      position: fixed;
      top: 80%;
      color: $white;
      text-align: center;
    }

    img {
      height: 100%;
      width: 100%;
      object-position: 70%;
      object-fit: cover;
    }

    @media (min-width: 992px) {
      img {
        object-position: 0% 0%;
      }
    }
  }

  .react-parallax {
    height: 80vh;
    margin-top: 1rem;

    .react-parallax-content {
      height: 100%;

      div {
        .parallax-content {
          height: 100%;

          h2 {
            text-shadow: 3px 2px 5px white;
          }

          .links-home {
            display: flex;

            span {
              display: flex;
              align-items: center;

              p {
                font-size: 2.5rem;
                margin: 0;
              }
            }

            span:first-child {
              height: 3rem;
              padding-top: 2.5rem;
            }
          }
        }
      }
    }
  }

  .home-youtube {
    height: 80vh;
    position: relative;
    margin-top: 1rem;

    div {
      video {
        object-fit: cover;
      }
    }
    .video-filter {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .youtube-content {
      position: absolute;
      top: 30%;
      left: 5%;

      h2 {
        text-shadow: 3px 2px 5px white;
      }

      .links-home {
        display: flex;

        span {
          display: flex;
          align-items: center;

          p {
            font-size: 2.5rem;
            margin: 0;
          }
        }

        span:first-child {
          height: 3rem;
          padding-top: 2.5rem;
        }
      }
    }
  }
}*/
