.services {
  background-color: $bg-frame;
  width: 100vw;

  .services-hero {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
    }
  }

  .service {
    margin-bottom: 10rem;

    h2 {
      text-align: center;
      margin: 2rem 0;
    }

    img {
      height: 50vh;
      width: 100vw;
      object-fit: cover;
      margin: 2rem 0;
    }

    video {
    }

    p {
      font-size: 1.8rem;
      padding: 1rem;
      width: 100%;
    }
  }
}
