/** FONTS **/

$heading-font : "Gothic A1", sans-serif;
$text-font: "Nunito", sans-serif;


/** FONTS WEIGHT **/

$ligth: 300;
$regular: 400;
$bold: 700;


/** COLORS **/

$white: #FFFFFF;
$links: #E3EA96;
$bg-frame: #E9E9DD;
$button: #212121;

