footer {
  width: 100%;
  padding-top: 1rem;
  background-color: $bg-frame;

  .social-links {
    .social-list {
      display: flex;
      flex-flow: row nowrap;
      width: 40vw;
      margin: 0 auto;
      justify-content: space-between;
      padding: 0;

      .social-item {
        width: auto;
        height: 3rem;
        margin: 0 auto;
        transition: all 0.25s ease-in-out;
      }
    }
  }

  @media (min-width: 768px) {
    .social-links {
      .social-list {
        margin: 0 40%;
        width: auto;
      }
    }
  }

  @media (min-width: 1200px) {
    .social-links {
      padding-bottom: 1rem;

      .social-list {
        width: auto;
        margin: 0 40%;

        .social-item:hover {
          transform: scale(1.2);
          transition: all 0.25s ease-in-out;
        }
      }
    }
  }

  .terms {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding: 0;

    .terms-item {
      width: 33%;
      display: flex;
      justify-content: center;

      .autor-logo {
        width: 50%;
        height: auto;
      }

      @media (min-width: 768px) {
        .autor-logo {
          width: 40%;
        }
      }

      @media (min-width: 992px) {
        .autor-logo {
          width: 40%;
        }
      }

      @media (min-width: 1200px) {
        .autor-logo {
          width: 20%;
        }
      }

      p {
        font-size: 1.3rem;
        font-family: $text-font;
        text-align: center;
        margin: 0;
      }

      a {
        color: black;
        font-family: $text-font;
        font-size: 1.3rem;
        text-align: center;
      }

      @media (min-width: 768px) {
        p,
        a {
          font-size: 2rem;
        }
      }

      @media (min-width: 992px) {
        p,
        a {
          font-size: 2rem;
        }
      }
    }
  }

  @media (min-width: 992px) {
    .terms {
      width: 50%;
      margin: 0 25%;
    }
  }
}
