.navbar.custom-navbar {
  height: 6vh;
  padding: 0;

  .container-fluid {
    height: 100%;
    display: flex;
    align-items: center;

    .navbar-brand {
      padding: 0 0 0 2rem;
      height: 100%;

      a{
        height: 100%;
        display: flex;
        
        svg {
          padding-left: 1rem;
          width: 12rem;
        }
      }
    }

    @media(min-width: 768px) {
      .navbar-brand {  
        a{          

          svg {
            width: 17rem;
          }
        }
      }
    }

    .navbar-toggler {
      height: 100%;
      border: none;
      box-shadow: none;

      .navbar-toggle svg path {
        fill: #000000;
      }

      .light path {
        stroke: white !important;
      }

      .navbar-toggle-svg.open {
        transform: scale(1.2);
        transition: transform 0.3s ease;
      }

      .navbar-toggle-svg.closed {
        transform: scale(1);
        transition: transform 0.3s ease;
      }
    }
  }
}

.sidebar {
  position: fixed;
  top: 6vh;
  padding-top: 3rem;
  left: -110vw;
  width: 100vw;
  height: 100%;
  background-color: #eeedeb9f;
  transition: left 0.3s ease;
  z-index: 1000;
  border: none;

  .nav-menu {
    width: 100%;
    padding: 2rem 0;

    a {
      font-size: 2.5rem;
      font-family: $heading-font;
      letter-spacing: 0.5rem;
      color: $gray;
      margin: 0 0 2rem 2rem;
      padding: 0;
      transition: all 0.5s ease-in-out;
      
      span {

        svg {
          display: none;
        }
      }
    }

    a:first-child {
      margin-top: 2rem;
    }

    a.active {
      color: black;      
      font-weight: $bold;
      padding-left: 2rem;
      display: flex;
      align-items: center;

      span {
        svg {
          display: block;
          color: black;
        }
      }
    }

    a.inactive {
      font-weight: $ligth;
      padding-left: 0;
    }

    a:hover {
      transform: scale(1.05);
      translate: 3rem;
    }    
  }  
}

@media(min-width: 768px) {
  .sidebar {
    left: -51vw;
    width: 50vw;

    .nav-menu {

      a {
        font-size: 3rem;
      }
    }
  }
}

@media(min-width: 992px) {
  .sidebar {
    left: -31vw;
    width: 30vw;
  }
}

.sidebar.show {
  left: 0;
}

//Nav position 0
.custom-navbar.opaque {
  background-color: $bg-frame;
  transition: background-color 0.75s ease;
}

//Nav avtiva
.custom-navbar.nav-activa {
  background-color: $bg-frame;
  transition: background-color 0.75s ease;
}

//Nav scroll
.custom-navbar {
  background-color: #eeedeb9f;
  transition: background-color 0.75s ease;
}

.scroll-lock {
  overflow: hidden;
}
