.navbar.custom-navbar {
  background-color: transparent;
  backdrop-filter: blur(10px);
  height: 6vh;
  padding: 0;

  .container-fluid {
    height: 100%;
    display: flex;
    align-items: center;

    .navbar-brand {
      padding: 0 0 0 4rem;
      height: 100%;
    }

    .navbar-toggler {
      height: 100%;
      border: none;
      box-shadow: none;

      .navbar-toggle-svg path {
        fill: #000000;
      }

      .navbar-toggle-svg.open {
        transform: scale(1.2);
        transition: transform 0.3s ease;
      }

      .navbar-toggle-svg.closed {
        transform: scale(1);
        transition: transform 0.3s ease;
      }
    }
  }
}

.sidebar {
  position: fixed;
  top: 6vh;
  left: -101vw; /* Oculta el menú inicialmente */
  width: 100vw;
  height: 100%;
  background-color: $bg-frame;
  transition: left 0.3s ease;
  z-index: 1000;
  border: none;

  .nav-menu {
    width: 100%;

    a {
      font-size: 3rem;
      letter-spacing: 0.5rem;
      color: #000000;
      margin: 0 0 1rem 2rem;
      padding: 0;      
    }

    a:first-child {
      margin-top: 2rem;
    }

    a.active::before {
      content: "I ";
    }

    a.inactive::before {
      content: none;
    }

    a:hover {
      background-color: #e9ecef;
    }    
  }

  .nav-menu-logo {
    width: 100%;

    img {
      margin: 1rem 15%;
      width: 70%;
      object-fit: cover;
    }
  }
  
}

@media(min-width: 768px) {
  .sidebar {
    left: -51vw;
    width: 50vw;
  }
}

@media(min-width: 992px) {
  .sidebar {
    left: -31vw;
    width: 30vw;
  }
}

.sidebar.show {
  left: 0;
}
